# Laravel Defaults
/vendor
/node_modules
/public/storage
/public/build
/public/hot
/storage/*.key
/storage/pail
.phpunit.result.cache
.env
.env.*
.phpactor.json
.vscode
.idea

# Security Artifacts (KHÔNG ĐƯỢC PUSH)
**/cert/
**/key/
*.crt
*.key
*.pem
*.pub
*.jks
*.p12

# Infrastructure Secrets
unseal_vault.ps1
vault-unseal.ps1
/kms/*.ps1
.env
auth.json

# Databases & Runtime Data
init.sql
**/mysql_data/
**/vault_data/
**/elasticsearch_data/
*.log

# OS & Misc
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
note.txt