/vendor
/node_modules
/public/storage
/public/build
/public/hot
/storage/*.key
/storage/pail
.phpunit.result.cache
.env
.env.*
.phpactor.json
.vscode
.idea
**/cert/
**/key/
*.crt
*.key
*.pem
*.pub
*.jks
*.p12
/kms/*.ps1
.env
auth.json
**/mysql_data/
**/vault_data/
**/elasticsearch_data/
*.log
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml